.list-device {
  &__image {
    width: 107px;
    height: 60px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  &__active-icon {
    padding: 0.75rem;
  }

  &__table-container {
    margin-top: 0.5rem;
  }
}

.ant-notification-notice-wrapper {
  border-radius: 0.8rem;
}

.status-style {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 600;
}

.info-notification {
  .ant-notification-notice-content {
    .ant-notification-notice-message {
      margin-bottom: 1rem;
    }
  }
}
