#order-detail-modal {
  max-width: 100%;

  .modal-content {
    width: calc(50%);
    max-width: unset;
    max-height: 90vh;
    border-radius: 16px;
  }

  .form-block {
    padding: 1em;
  }

  .header-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.875rem;
    padding-bottom: 0 !important;
  }

  .label {
    font-size: 1rem;
    font-weight: 600;
  }

  .value {
    font-size: 1rem;
    font-weight: 400;
  }
}
