.media-data-breadcrumb-area {
  padding: 0 0 0.5rem;
  border-bottom: 1px solid var(--ga-light-line-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    ol {
      margin-bottom: 0;

      li {
        a {
          text-decoration: none;
          color: var(--ga-primary) !important;
        }

        &.active {
          color: inherit;
        }
      }
    }
  }

  &[data-bs-theme='dark'] {
    border-color: var(--ga-dark-line-color);
  }

  .buttons-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
