.modal-dialog {
  justify-content: center;

  .modal-content {
    width: fit-content;

    .modal-header {
      border-bottom: none;
      margin: 0 0em;
      padding: 2em;
      padding-bottom: 0;

      .modal-title {
        font-weight: 600;
        font-size: 1.25rem;
      }
    }

    .form-block {
      padding: 1em 2em 0.5em 2em;

      & > div {
        margin-bottom: 0;
      }
    }
  }
}

#system-ticket {
  max-width: 36em;
}

#setting-modal {
  max-width: 38em;
  width: fit-content;
}

.modal-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .btn-ctclose {
    border: none;
    cursor: pointer;
    background-color: transparent;

    span {
      font-size: 1.5rem;
    }
  }
}

.custom-modal.modal-black {
  .modal-content {
    .modal-header {
      background-color: #1f1f20;

      .btn-close {
        filter: var(--bs-btn-close-white-filter);
      }
    }

    background-color: rgb(33 37 41);
    color: white;

    .form-block.bg-dark {
      form {
        color: white;
      }

      .row {
        .col {
          background-color: rgb(33 37 41) !important;

          input {
            background-color: #2d2e30;
            color: white;
          }

          input:checked {
            background-color: var(--ga-primary-dark);
            border-color: var(--ga-primary-dark);
          }

          .card-body {
            background-color: rgb(33 37 41);
            color: white;
          }

          select {
            background-color: #2d2e30;
            color: white;
          }

          textarea {
            background-color: #2d2e30;
            color: white;
          }

          input::placeholder {
            color: #bbb;
          }

          textarea::placeholder {
            color: #bbb;
          }

          .card {
            background-color: rgb(33 37 41) !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}
