.horizontal {
  display: flex;
  margin: 0;
  gap: 1.5em;
  align-items: center;
}

.helloo {
  background-color: red;
}

.vertical {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0.625em;
}

.select-time {
  &[data-bs-theme='dark'] {
    label {
      display: block;
      font-weight: 600;
      padding-bottom: 0.5em;
    }

    .time-helper {
      width: 100%;
      display: inline-block;

      button {
        width: auto;
        background-color: #2d2e30;
        border: none;
        margin: 0 0.5em 0 0;
        font-weight: 400;
        font-size: 0.8rem;
        border-radius: 1.5em;
        padding: 0.25em 0.5em;
        color: #dddfe2;

        &:focus {
          border: 0.0625em solid var(--ga-primary);
        }
      }
    }

    .anticon svg {
      color: #ececef;
    }
  }

  &[data-bs-theme='light'] {
    label {
      display: block;
      font-weight: 600;
      padding-bottom: 0.5em;
    }

    .time-helper {
      width: 100%;
      display: inline-block;

      button {
        width: auto;
        background-color: #f2f2f2;
        border: none;
        margin: 0 8px 5px 0;
        font-weight: 400;
        font-size: 0.8rem;
        border-radius: 1.5em;
        padding: 0.25em 0.5em;
        color: #444646;

        &:focus {
          border: 0.0625em solid var(--ga-primary);
        }
      }
    }

    .anticon svg {
      color: #2d2e30;
    }
  }
}

.ant-picker {
  .ant-picker-input {
    input {
      font-size: 1em;
    }
  }
}

.ant-picker-dropdown {
  z-index: 99999;
}

.ant-picker-dropdown .ant-picker-header-view {
  line-height: var(--ant-date-picker-text-height);
}

.ant-picker-dropdown {
  font-size: 1em;
}

.ant-picker-dropdown .ant-picker-decade-panel,
.ant-picker-dropdown .ant-picker-year-panel,
.ant-picker-dropdown .ant-picker-quarter-panel,
.ant-picker-dropdown .ant-picker-month-panel,
.ant-picker-dropdown .ant-picker-week-panel,
.ant-picker-dropdown .ant-picker-date-panel,
.ant-picker-dropdown .ant-picker-time-panel {
  width: calc(
    var(--ant-date-picker-cell-width) * 5 + calc(var(--ant-padding) + var(--ant-padding-xxs) / 2) *
      2
  );
}

.ant-picker-dropdown .ant-picker-ranges > li {
  line-height: calc(var(--ant-date-picker-text-height) - var(--ant-line-width) * 2);
}
